body {
    background-image: url(img/jobs2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 400px;
    margin: 0 auto;
    background-color: hsl(25, 26%, 82%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 91, 91, 0.1);
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
  }
  
  button {
    background-color: #7d9abb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  p {
    margin-top: 20px;
  }
  