* {
    box-sizing: border-box;
  }
  
  body {
    background-color: hsl(25, 26%, 82%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  form {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align:center ;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4c7aaf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  